@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-unique: 'Unique', sans-serif;
  --font-thunder: 'Thunder', sans-serif;
  --font-thunder-black: 'ThunderBlack', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-unique: var(--font-unique);
  --font-thunder: var(--font-thunder);
  --font-thunder-black: var(--font-thunder-black);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
/* Grain effect */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media2.giphy.com/media/FSqYDfsdaiG9W/200w.gif?cid=82a1493b6xpyl1dp29fbcarzkr5mvbalnpqko3fgk7xcnkk0&ep=v1_gifs_related&rid=200w.gif&ct=g');
  background-size: 150px 150px;
  opacity: 0.11;
  pointer-events: none;
  z-index: 10000;
}
